<div class="navbar_links d-flex">
  <ul class="d-flex flex-row gap-4 list-group ">
    <li class="nav-item list-group-item bg-transparent border-0 text-white"><a class="nav-link" href="">Home</a></li>
    <li class="nav-item list-group-item bg-transparent border-0 text-white"><a class="nav-link" href="">Streams</a>
    </li>
    <li class="nav-item list-group-item bg-transparent border-0 text-white"><a class="nav-link active" href="">Game
        Store</a>
    </li>
    <li class="nav-item list-group-item bg-transparent border-0 text-white"><a class="nav-link" href="">News</a></li>
  </ul>
</div>
